node_modules
# package directories
jspm_packages

# Serverless directories
.serverless

# platformio
.pio
/Client/.vscode/.browse.c_cpp.db*
/Client/.vscode/c_cpp_properties.json
/Client/.vscode/launch.json
/Client/.vscode/ipch

/Client/include/secrets.h