service: weathergpsiot
# frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221
  profile: iamadmin
  stage: dev
  # all actions on this bucket and objects: weather-gps-iot-nickyiliwang
  iam:
      role:
        statements:
          # S3 bucket and objects
          - Effect: 'Allow'
            Action:
              - '*'
            Resource: arn:aws:s3:::weather-gps-iot-nickyiliwang
          - Effect: 'Allow'
            Action:
              - '*'
            Resource: arn:aws:s3:::weather-gps-iot-nickyiliwang/*
          # IoT Analytics 
          - Effect: 'Allow' 
            Resource: '*'         	
            Action:
              - 'lambda:InvokeFunction'

functions:
  weatherGPSIoT:
    handler: lambda/weatherGPSIoTLambda.handler
  extractTransformCSVToJSON:
    handler: lambda/extractTransformCSVToJSON.handler

# # testing route
#   test:
#     handler: lambda/sls-http-express.handler
#     events:
#       - http:
#           path: /
#           method: ANY
#           cors: true
#       - http:
#           path: /{any+}
#           method: ANY
#           cors: true


plugins:
- serverless-offline